@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
body {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  align-self: center;
}

#priceContainer{
  margin-top: 30px;
}

#contactContainer{
  margin: auto;
  margin-top: 30px;

}

.outlineBox{
  box-shadow: inset 0 0 0 2px #000000;
  padding: 20px;
}

.btn.btn-dark.btn-block.btn-primary{
  margin: auto 2px;
}
